{% extends 'base.html.twig' %}
{% block title %}Hello{% endblock %}
{% block body %}
    <section class="articles">
        <produit>
            <h3>
                {{ produit.nom }}
                <span style="float: right;">
          Prix :
          {{ produit.prix }}€
        </span>
            </h3>
            <div class="row">
                <div class="col-sm-8">
                    {{ produit.description | raw }}
                    {#<a class="btn btn-success" href="{{ path('panier.addShow',{'id':produit.id }) }}">
                        Ajouter au panier !
                    </a>#}
                </div>
                <div class="col-sm-4">
                    <img src="{{ produit.image }}" width="300"></div>
            </div>
        </produit>
    </section>
{% endblock %}
